<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
   
    
    <add name="conn" connectionString="Server=0b45d842-c16f-4218-bcb2-a44500e3a831.sqlserver.sequelizer.com;Database=db0b45d842c16f4218bcb2a44500e3a831;User ID=punqvmadcyupfegi;Password=gjFTy7ajnnY2JA5XxjVkEumu5HJJGuMrRkh67JCMWwzNLgGMcaobveVU7kXXvxJZ;"/>
 
      
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      
     
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
